<!-- BANNER START -->
<div class="banner inner-banner">
    <div class="container">
        <section class="banner-detail">
            <h1 class="banner-title"><%= title %></h1>
            <div class="bread-crumb right-side">
                <ul>
                    <!-- <li><a href="index.ejs">home</a>/</li> -->
                    <li><span><%= text %></span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- BANNER END -->