<!-- FOOTER START -->
<div class="footer dark-bg">
    <div class="container">
        <div class="footer-inner">
            <hr>
            <div class="footer-bottom mb-30">
                <div class="row">
                    <div class="col-md-4 col-sm-12 center-sm">
                        <div class="payment left-side float-none-sm float-none-xs center-xs">
                            <ul class="payment_icon">
                                <li class="discover"><a></a></li>
                                <li class="visa"><a></a></li>
                                <li class="mastro"><a></a></li>
                                <li class="paypal"><a></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 center-sm">
                        <div class="copy-right center-xs">© 2022 All Rights Reserved. </div>
                    </div>
                    <div class="col-md-4 col-sm-12 center-sm">
                        <div class="footer_social pt-xs-15 right-side float-none-xs float-none-sm center-xs mt-xs-15">
                            <ul class="social-icon">
                                <li><a title="Facebook" class="facebook" href="https://www.facebook.com/profile.php?id=100088251070019&mibextid=ZbWKwL"><i class="fa fa-facebook"> </i></a></li>
                                <li><a title="Twitter" class="twitter" href="https://instagram.com/pcart_care?igshid=NDk5N2NlZjQ="><i class="fa fa-twitter"> </i></a></li>
                                <li><a title="Linkedin" class="linkedin"><i class="fa fa-linkedin"> </i></a></li>
                                <li><a title="RSS" class="rss"><i class="fa fa-rss"> </i></a></li>
                                <li><a title="Pinterest" class="pinterest"><i class="fa fa-pinterest"> </i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-top">
    <div id="scrollup"></div>
</div>
<!-- FOOTER END -->