<!-- HEADER START -->
<header class="navbar navbar-custom " id="header">
    <div class="container">
        <div class="header-inner">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="navbar-header">
                        <a class="navbar-brand page-scroll" href="/">
                            <!-- <img alt="PCart" src="../assets/images/logo.png"> -->
                            <img alt="PCart" style="height:20%;width:30%;margin-left: 16%;border-radius: 45%;" src="../images/pc.png">
                        </a>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6 right-side">
                    <div class="right-side float-left-xs header-right-link">
                        <ul>
                            <li class="main-search">
                                <!--                                <div class="header_search_toggle desktop-view">-->
                                <!--                                    <form>-->
                                <!--                                        <div class="search-box">-->
                                <!--                                            <input class="input-text" type="text"-->
                                <!--                                                   placeholder="Search entire store here...">-->
                                <!--                                            <button class="search-btn"></button>-->
                                <!--                                        </div>-->
                                <!--                                    </form>-->
                                <!--                                </div>-->
                            </li>

                            <li class="account-icon">
                                <a href="#">
                                    <span></span>
                                </a>
                                <div class="header-link-dropdown account-link-dropdown">
                                    <ul class="link-dropdown-list">
                                        <li><span class="dropdown-title">Welcome to PCart!</span>
                                            <ul>
                                                <li><a href="/user-login">Sign In</a></li>
                                                <li><a href="/user-signup">Create an Account</a></li>
                                            </ul>
                                        </li>


                                    </ul>
                                </div>
                            </li>

                            <li class="cart-icon">
                                <a href="/shopping-cart">
                                    <span>
                                        <small class="cart-notification total-cart"></small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle"
                            type="button"><i class="fa fa-bars"></i></button>
                </div>

                <div class="col-md-6 col-sm-12 position-s left-side float-none-sm">
                    <div class="align-center">
                        <div id="menu" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="level"><a href="/" class="page-scroll">Home</a></li>
                                <li class="level"><a href="/about-us" class="page-scroll">About</a></li>
                                <li class="level"><a href="/shop" class="page-scroll">Shop</a></li>
                                <li class="level"><a href="/contact-us" class="page-scroll">Contact</a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header_search_toggle mobile-view">
                <!--                <form>-->
                <!--                    <div class="search-box">-->
                <!--                        <input class="input-text" type="text" placeholder="Search entire store here...">-->
                <!--                        <button class="search-btn"></button>-->
                <!--                    </div>-->
                <!--                </form>-->
            </div>
        </div>
    </div>
</header>
<!-- HEADER END -->