<div class="col-md-3 col-sm-4 col-xs-6 p-0">
    <div class="product-item mb-16">

        <div class="sale-label"><span>Sale</span></div>

        <div class="product-image">
            <a href="/">
                <img src="assets/images/1.jpg" alt="">
            </a>

            <div class="product-detail-inner">
                <div class="detail-inner-left left-side">
                    <ul>
                        <li class="pro-cart-icon">
                            <form>
                                <button title="Add to Cart"></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="product-item-details">
            <div class="product-item-name">
                <a href="#">Defyant Reversible Dot Shorts</a>
            </div>
            <div class="price-box">
                <span class="price">$80.00</span>
                <del class="price old-price">$100.00</del>
            </div>
        </div>

    </div>
</div>